body {
  background-color: #dfdfdf;
  
}


h2{
  font-size: 40px;
}
#root {
  max-width: 1280px;
  margin: 0 auto; 
  padding: 0 2rem 2rem 2rem; /* top = 0, laterais = 2rem, bottom = 2rem */
  text-align: center;
  display: block;   
}

.foto-perfil{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: solid 2px;
  border-color: rgb(143, 12, 12);
  margin-top: 50px;
}

.foto-gosto{
   width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid 2px;
  border-color: rgb(0, 0, 0);
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container_gosto{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.container_gosto h3{
  margin-top: 0;
}

.geral_gosto{
  display: flex;
  flex-direction: row;
  gap: 30px;

}

.tituloGosto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloGosto h2{
  margin-top: 10px;
}

.info{
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info h2 {
  margin: 0;
}
.info h3{
  margin-bottom: 0;
}
.info p{
  margin: 0;
}

.idd{
  display: flex;
  flex-direction: row;
  gap: 10px;
}